<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1 style="display: inline;">
                <%= user.alias %>
            </h1>
            #
            <%= user.uid32 %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->


            <div class="text-center">
                <img src="<%- (user.profileImage || 'https://ssl.gstatic.com/accounts/ui/avatar_2x.png') %>" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
            </hr><br>


            <!--<div class="panel panel-default">-->
            <!--    <div class="panel-heading">-->
            <!--        <span><%- (user.profile && user.profile.first_name ? user.profile.first_name :'') %></span>-->
            <!--        <span><%- (user.profile && user.profile.last_name ? user.profile.last_name :'') %></span></div>-->
            <!--    <div class="panel-body">-->

            <!--        <span><%- (user.profile && user.profile.location ? user.profile.location :'') %></span>-->
            <!--    </div>-->
            <!--</div>-->


            <!--<ul class="list-group">-->
            <!--    <li class="list-group-item text-muted">Activity <i class="bi bi-chevron-right"></i></li>-->
            <!--<li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span></li>-->
            <!--<li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span></li>-->
            <!--<li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span></li>-->
            <!--<li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span></li>-->
            <!--</ul>-->


        </div>
        <!--/col-3-->
        <style>
            .tab-content {
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                padding: 10px;
            }

            .nav-tabs {
                margin-bottom: 0;
            }
        </style>
        <div class="col-sm-9">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#profile-main1" role="tab" aria-controls="home" aria-selected="true">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-main2" role="tab" aria-controls="profile" aria-selected="false">Peer Apps</a>
                </li>
                <!--<li class="nav-item">-->
                <!--    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#profile-main3" role="tab" aria-controls="messages" aria-selected="false">Profile3</a>-->
                <!--</li>-->
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="profile-main1">

                    <div class="container">

                        <ul class="list-group">
                            <li class="list-group-item">Display Name: <%- (user.profile && user.profile.first_name ? user.profile.first_name :'') %></li>
                            <li class="list-group-item">Private Name: <%- (user.profile && user.profile.last_name ? user.profile.last_name :'') %></li>
                        </ul>

                    </div>

                </div>
                <!--/tab-pane-->
                <div class="tab-pane" role="tabpanel" id="profile-main2">

                    
                    <div class="container">
                        
                        <% if(user.peer_apps_dev){ 
                            for(var i in user.peer_apps_dev){
                            if(i == "_" || !user.peer_apps_dev[i]) continue;
                                var peerapp = await $user.get("profile").get("peerappsDev").get(i);
                                
                        %>
                        <ul class="list-group">
                            <li class="list-group-item"><%= peerapp.title %></span> <span class="float-right"><a class="btn btn-primary" href="#">View</a></span></li>
                        </ul>
                        <% }} %>
                    </div>

                </div>
                <!--/tab-pane-->
                <!--<div class="tab-pane" role="tabpanel" id="profile-main3">page3</div>-->

            </div>
            <!--/tab-pane-->
        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<!--/row-->