node_modules/
data/
data*
*data
core
radata/
radata*
*radata

/gun/*

package-lock.json

public/fido2-onlykey/

build/
cache/

nw-dev/app/node-onlykey 

GIT_HEAD
cert-server.cert
cert-server.key

docs/

# a clean folder to have for texting
clean/